.display {
  background-color: #000;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem;
  text-align: right;
  border-radius: 5px;
  grid-column: 1 / -1;
  overflow: hidden;
  text-overflow: ellipsis;
}
